body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 58px;
	color:peachpuff;
	background-color:peachpuff;
}

a {
	color:red;
}

/* When you first edit this file, you can delete everything below here. Remember you should use body to target all elements on the page first and then override them later  */

/* EXAMPLE CODE PLEASE REMOVE */

.title {
	color:#0E1C36;
	text-align:left;
	font-family:sans-serif;
	text-transform:uppercase;
	width:100%;
	background-color:peachpuff;
}

.bio {
	font-size:26px;
	width:100%;
	background-color: #0E1C36;
}

.bitmoji {
	position: relative;
	top:70px; 
	width:500px;
	margin:auto;
}
.bitmoji img {
	width:100%;
	background-color: peachpuff;
}

.main {
	border: 2px solid black;
	padding: 20px;
	margin-top:100px;
	margin-bottom:100px;
	width:500px;
}

.block {
	display: inline-block;
	padding: 20px;
	width:200px;
	background-color:black;
	color:#fff;
}

.centerblock {
	width:500px;
	margin: auto;
}

.centerblock img {
	width: 100%;
}

.newimage {
	position: fixed;
	top: 0px;
	margin-left: auto;
	z-index:-30;
	opacity: 0.5;
}

.newimage img {
	width: 120%;
}

.TurrellOne {
	text-align: left;
	font-size: 25px;
	color:#0E1C36;
	width: 420px;
	margin-left: 300px;
	margin-top: 100px;
}
