body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
	color:white;
}

a {
	color:red;
}


/*Index Homepage*/ 

.index-intro {
	font-size:18px;
	margin-bottom:25vh;
	padding:10px;
}

.index-row{
	display: flex;
	flex-wrap: wrap;
	padding:10px;
	margin-bottom:5px;
	margin-top:5px;
	border-top: 2px solid white;

}

.index-name {
	flex: 0 0 50%;

}

.index-layer{
	flex: 0 0 25%;

}

.index-tag {
	flex: 0 0 25%;

}

/*IP Address*/

.ip {
	background-color:lime;
	height:100vh;
	width:100vw;
	display:flex;
	align-items: center;
	justify-content: center;
}

.ip-text {
	font-size:14vw;
	text-align:center;
	color:blue;
}

/*Checkers*/



.checkers {
	display: flex;
	flex-wrap: wrap;
}

.checkers-black {
	flex:0 0 50%;
	height: 50vh;
	background-color: orange;
}

.checkers-white {
	flex:0 0 50%;
	height: 50vh;
	background-color: blue;
}

/*checkers flags*/

.geoflag {
	display: flex;
	flex-wrap: wrap;
}

.ping {
	width: 33.333%;
}

.ping img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.myki {
	width: 33.333%;
	
}

.myki img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gps {
	width: 33.333%;
	
}

.gps img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.facial {
	width: 50%;

}

.facial img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footflow {
	width: 50%;
}

.footflow img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.census {
	width: 50%;
}

.census img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.popup-position {
	display: none;
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
}

#popup-wrapper {
	width: 500px;
	margin:70px auto;
	text-align: left;

}

#popup-container {
	background-color: #000; 
	padding:20px;
	border-radius: 4px;
}

/*checkers type*/



/*Cloud Pattern*/

.cloud-pattern {
	display: flex;
	flex-wrap:wrap;
}

.cloud-circle {
	width:25%;
	height:25vw;
	background-image:linear-gradient(blue, white);
	border-radius: 50%;
}

/*chip container*/

.chip-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.chip {
	width:60vh;
	height:60vh;
	padding: 5vh;
	background-color: black;
	border:1px solid gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.chip .text {
	color:gray;
	font-size:15vh;
	font-weight: normal;
	text-align: center;
}

.text {
	color: gray;
	border:1px solid gray;
	font-size:11vw;
}