body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
	color:white;
}

a {
	color:red;
}


/*Index Homepage*/ 

.index-intro {
	font-size:18px;
	margin-bottom:25vh;
	padding:10px;
}

.index-row{
	display: flex;
	flex-wrap: wrap;
	padding:10px;
	margin-bottom:5px;
	margin-top:5px;
	border-top: 2px solid white;

}

.index-name {
	flex: 0 0 50%;
}

.index-name a {
	color:white;
}

.index-layer{
	flex: 0 0 25%;

}

.index-tag {
	flex: 0 0 25%;

}

/*IP Address*/

.ip {
	background-color:lime;
	height:100vh;
	width:100vw;
	display:flex;
	align-items: center;
	justify-content: center;
}

.ip-text {
	font-size:14vw;
	text-align:center;
	color:blue;
}

/*Checkers*/



.checkers {
	display: flex;
	flex-wrap: wrap;
}

.checkers-black {
	flex:0 0 50%;
	height: 50vh;
	background-color: orange;
}

.checkers-white {
	flex:0 0 50%;
	height: 50vh;
	background-color: blue;
}

/*checkers flags*/

.geoflag {
	display: flex;
	flex-wrap: wrap;
}

.ping {
	width: 33.333%;
}

.ping img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.myki {
	width: 33.333%;
	
}

.myki img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gps {
	width: 33.333%;
	
}

.gps img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.facial {
	width: 50%;

}

.facial img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footflow {
	width: 50%;
}

.footflow img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.census {
	width: 50%;
}

.census img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.planes {
	width: 50%;
}

.planes img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pause {
	width: 50%;
}

.pause img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.play {
	width: 50%;
}

.play img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*popup initial*/

.popup-position {
	display: none;
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
}

#popup-wrapper {
	width: 500px;
	margin:70px auto;
	text-align: left;

}

#popup-container {
	background-color: #000; 
	padding:20px;
	border-radius: 4px;
}

/* popup number 1*/

.popup1 {
  background-color: yellow;
  width:200px;
  height:200px;
  font-size:40px;
  position:fixed;
  top:100px;
  left:400px;
  box-shadow:0px 0px 200px blue;
  display:none;
  cursor:pointer;
}

.click-whatami {
  color:blue;
  cursor:pointer;
}

/*individualgeographics*/
.pingtower {
	width: 100%;
	height: 100%;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	
}

.pingtower img {
	position: fixed;
	width:100%;
	height:100%;
	object-fit: contain;
}


.mykisingle {
	width: 100%;
	height: 100%;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	
}

.mykisingle img {
	position: fixed;
	width:100%;
	height:100%;
	object-fit: contain;
}

.census {
	width: 100%;
	height: 100%;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	
}

.census img {
	position: fixed;
	width:100%;
	height:100%;
	object-fit: contain;
}

.facial {
	width: 100%;
	height: 100%;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	
}

.facial img {
	position: fixed;
	width:100%;
	height:100%;
	object-fit: contain;
}

.gps {
	width: 100%;
	height: 100%;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	
}

.gps img {
	position: fixed;
	width:100%;
	height:100%;
	object-fit: contain;
}

.planes {
	width: 100%;
	height: 100%;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	
}

.planes img {
	position: fixed;
	width:100%;
	height:100%;
	object-fit: contain;
}

.footflow {
	width: 100%;
	height: 100%;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	
}

.footflow img {
	position: fixed;
	width:100%;
	height:100%;
	object-fit: contain;
}

.lowbattery {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 72px;
	background-color: black;
	color:red;
	border: solid red;
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
}



.ctrlc1 {
	background: lime;
	height:100vh;
}


.ctrlc2 {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 180px;
	color:blue;
  	animation-name: spin, depth;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
 	animation-duration: 5s;
 	height: 100vh;
 	display:flex;
  	align-items: center;
  	justify-content: center;
}
@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
@keyframes depth {
  0 { text-shadow: 0 0 black; }
  25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
  50% { text-shadow: 0 0 black; }
  75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
  100% { text-shadow: 0 0 black; }
}

.ctrlx {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 180px;
	color:red;
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	}


.ctrlxemoji {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.ctrlx {
	height: : 100vh;
	background-color: blue;
}

.RGB{
    height: 100vh;
   	animation-name: rgbcolor;  
    animation-iteration-count: infinite;  
    animation-duration: 15s; 
}

	@keyframes rgbcolor {  
  0% { background-color: red; }
  33.333% { background-color: lime; }
  66.666% { background-color: blue; }
  100% { background-color: red; }

}
.RGBtext {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 200px;
	color:white;
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
}

.CMYK{
    height: 100vh; 
}

	@keyframes cmykcolor {  
  0% { color:cyan; }
  25% { color: magenta; }
  50% { color: yellow; }
  75% { color: black; }
  100% { color: cyan; }

}
.CMYKtext {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 200px;
	color:white;
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	animation-name: cmykcolor;  
    animation-iteration-count: infinite;  
    animation-duration: 10s;
}

.bluescreen1 {
	background-color: blue;
}

.bluescreen2 {
	display: flex;
	height: 100vh;
	align-items: center;
  	justify-content: center;
  	font-family: Helvetica,Arial,sans-serif;
	font-size: 100px;
	color: white;
}


.playemoji {
  	font-family: Helvetica,Arial,sans-serif;
	font-size: 300px;
	color: blue;
	position: fixed;
	left:40%;
	top: 30%;
	mix-blend-mode:difference;
}

.playtext {
  	font-family: Helvetica,Arial,sans-serif;
	font-size: 200px;
	color: lime;
	position: fixed;
	left:35%;
	top:35%;
}

.grid {
  display: flex;
  flex-wrap:wrap;
  font-family:  Helvetica,Arial,sans-serif;
  font-size:8vw;
}

.grid-red {
  width: 50%;
  height: 50vh;
  background-color: GreenYellow;
  display:flex;
  align-items:center;
  justify-content:center;
}

.grid-blue {
  width: 50%;
  height: 50vh;
  background-color: blue;
  display:flex;
  align-items:center;
  justify-content:center;
}

.grid-green {
  width: 50%;
  height: 50vh;
  background-color: blue;
  display:flex;
  align-items:center;
  justify-content:center;
}

.grid-black {
  width: 50%;
  height: 50vh;
  background-color: GreenYellow;
  display:flex;
  align-items:center;
  justify-content:center;
}

.loading {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 100px;
	color: GreenYellow; 
}

.loadingtext1 {
	position: fixed;
	top:100px;
	left:100px;
	animation: blink-animation 0.5s steps(5, start) infinite;
}

.loadingtext2 {
	position: fixed;
	top:200px;
	left:700px;
	animation: blink-animation 1s steps(5, start) infinite;
}

.loadingtext3 {
	position: fixed;
	top:300px;
	left:300px;
	animation: blink-animation 2s steps(5, start) infinite;
}

.loadingtext4 {
	position: fixed;
	top:600px;
	left:250px;
	animation: blink-animation 0.8s steps(5, start) infinite;
}

.loadingtext5 {
	position: fixed;
	top:500px;
	left:900px;
	animation: blink-animation 1.5s steps(5, start) infinite;
}


.emoji {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 200px;
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center; 
}

.emojismile {
	animation-name: spin, depth;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
 	animation-duration: 5s;
}

.emojiangry {
	animation-name: spin, depth;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
 	animation-duration: 5s;
}

.emojiglasses {
	animation-name: spin, depth;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
 	animation-duration: 5s;
}

.pin {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 400px;
	color:red;
	border: solid red;
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	mix-blend-mode: difference;

}

.maps {
	position: fixed;
	height: 100vh;
	width: 100vh;
	z-index: -5;
	animation: moveanimation 10s;
	animation-iteration-count: infinite;

}

@keyframes moveanimation
{
    0% {
        left: 100%;
    }
    100% {
        left: -130%;
    }
}


.tickettext {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 200px;
	color:white;
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;

}

.ticketemoji1 {
	position: fixed;
	left: 70px;
	top:-110px;
	font-size: 1000px;
	mix-blend-mode: difference;
	animation-name: flip;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
 	animation-duration: 11s;
}

@keyframes flip {
  from { transform: rotateX(0deg); }
  to { transform: rotateX(-360deg); }
}


  .trafficback {
  	background-color: white;
  	animation: blink-animation 0.1s steps(5, start) infinite;
  	height:100vh;

  }


 .trafficemoji {
 	position: absolute;
	top:0px;
	left:30%;
	height: 720px;
 	display: flex;
 	align-items: center;
 	font-size: 250px;
 	height:100vh;
 	z-index: 1;
 }

 .ptv {
 	height: 100vh;
 }

 .ptvemoji {
 	font-size: 200px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	height: 100vh;
	}

	.ptvmap {
	position: fixed;
	height: 100vh;
	width: 100vh;
}








/*checkers type*/



/*Cloud Pattern*/

.cloud-pattern {
	display: flex;
	flex-wrap:wrap;
}

.cloud-circle {
	width:25%;
	height:25vw;
	background-image:linear-gradient(blue, white);
	border-radius: 50%;
}

/*chip container*/

.chip-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.chip {
	width:60vh;
	height:60vh;
	padding: 5vh;
	background-color: black;
	border:1px solid gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.chip .text {
	color:gray;
	font-size:15vh;
	font-weight: normal;
	text-align: center;
}

.text {
	color: gray;
	border:1px solid gray;
	font-size:11vw;
}

