body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 22px;
	background-color: black;
}

a {
	color:red;
}

.nav {
width:100%;
background-color:black;
padding: 10px;
position: fixed;
top:0px;
left:0px;
}

.nav-item {
border-style: solid;
border-color: lime;
border-width: 2px;
background-color: black;
display: inline-block;
padding: 5px;
border-radius: 5px;
color: #fff;
text-decoration: none;
cursor: pointer;
}

.nav-header {
	display: inline-block;
	color: gray;
	padding: 5px;
}

.title {
	width:100%;
	margin-top: 50px;
}

.title img {
	width: 100%;
}

.research {
	display: flex;
	flex-wrap:wrap;
}

.research-item {
	flex: 0 0 20%;
	padding: 10px;
	transition: 1s;
	cursor: zoom-in;
}

.research-item img{
	width: 100%;

}

.research-item span {
	color: gray;
	font-size: 18px;

}

.essay {
	display: flex;
	flex-wrap:wrap;
	margin-top: 80px;
}

.text {
	flex:0 0 66.666%;
	padding: 10px;
}

.text h1 {
font-size: 60px;
}

.text p {
	margin-bottom: 30px;
}

.figure {
	margin-top: 80px;
	flex:0 0 33.333%;
}

.figure img {
	width: 100%;
}

.figure span {
	font-size: 18px;
	color: gray;
}

.one {
	position: absolute;
	width: 33.333%;
	top: 220px;
	left: 66.666%;
	object-fit: scale-down;
}
.two {
	position: absolute;
	width: 33.333%;
	top: 675px;
	left: 66.666%;
	object-fit: scale-down;
}

.three {
	position: absolute;
	width: 33.333%;
	top: 1100px;
	left: 66.666%;
	object-fit: cover;
}

.four {
	position: absolute;
	width: 33.333%;
	top: 1820px;
	left: 66.666%;
	object-fit: cover;
}

.five {
	position: absolute;
	width: 33.333%;
	top: 2800px;
	left: 66.666%;
	object-fit: cover;
}

.six {
	position: absolute;
	width: 33.333%;
	top: 3300px;
	left: 66.666%;
	object-fit: cover;
}


/*interactive classes*/

.hide {
display:none;
}

.show {

}

.large {
	flex: 0 0 66.666%;
	transition: 1s;
	cursor: zoom-out;

}

.active {background-color: lime;
}

.text {
	color: white;
}


